/* *{
    margin :0;
    padding: 0;
} */

#row1:hover{
background-color: aqua;

}

#row2:hover{
background-color: lightgreen;
}
#row3:hover{
    background-color: darkgray;
}
#row4:hover{
    background-color: rgb(233, 138, 22);
}
#row5:hover{
    background-color: rgb(226, 43, 144);
}
#row6:hover{
    background-color: indianred;
}
#row7:hover{
    background-color: rgb(72, 72, 226);
}
#row8:hover{
    background-color: brown;
}
#row9:hover{
    background-color: bisque;
}
